.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(245, 247, 248, 1)), url('https://images.unsplash.com/photo-1504198266287-1659872e6590?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
  background-size: cover;
}

.header {
  text-align: center;
  width: 100%;
  font-size: 128px;
}

.slogan {
  text-align: center;
  width: 100%;
  font-size: 30px;
}